//-------------------------------
// Blockquotes
//-------------------------------

blockquote {
  background: #f5f5f5;
  padding: 2rem;
  margin: 0 0 2rem -2rem;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  font-style: italic;
  line-height: $base-line-height;
  color: var(--text-color-light);
  border-left: 3px solid var(--text-color-light);

  p:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 48rem) {
  blockquote {
    margin: 0 0 2rem 0;
  }
}
