<style>
  .progress-bar {
      background: linear-gradient(to right, #1825e0 var(--scroll), transparent 0);
      background-repeat: no-repeat;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 3px;
      z-index: 1;
  }
</style>

<div class="progress-bar"></div>

<script>
  var element = document.documentElement,
    body = document.body,
    scrollTop = 'scrollTop',
    scrollHeight = 'scrollHeight',
    progress = document.querySelector('.progress-bar'),
    scroll;

  document.addEventListener('scroll', function() {
    scroll = (element[scrollTop]||body[scrollTop]) / ((element[scrollHeight]||body[scrollHeight]) - element.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');
  }); 
</script>