<div class="share-btn">
    <span> Köszi, hogy elolvastad. Oszd meg a barátaiddal is!</span> <br>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter}}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    
</div>